<!-- NavBar From Bootstrap model -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://image.similarpng.com/very-thumbnail/2021/09/Creative-money-logo-design-on-transparent-background-PNG.png"
                 alt="Logo" width="30" height="24">
        </a>
        <a class="navbar-brand" href="">Expenses Tracker</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        History
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">All transactions</a></li>
                        <li><a class="dropdown-item" href="#">Expenses</a></li>
                        <li><a class="dropdown-item" href="#">Incomes</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/new-transaction">New transaction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/statistics">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/transactions-grid']">Transactions Grid</a>
                </li>

            </ul>

            <a href="https://github.com/lgitdev/Project_Node" target="_blank" class="btn btn-outline-primary">
                Github repository
            </a>
        </div>
    </div>
</nav>