<div class="d-flex justify-content-center align-items-center p-3">
    <img
            src="https://img.icons8.com/?size=100&id=34013&format=png&color=000000"
            alt="Logo"
            class="me-3"
            style="height: 50px; width: 50px;" />
    <h1 class="m-0">Expense Tracker</h1>
</div>

<div class="container mt-4">
    <h2 class="text-center">Recent Transactions</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of filteredTransactions"
            [ngClass]="{
          'table-success': !transaction.isExpense,
          'table-danger': transaction.isExpense
        }" (click)="goToTransaction(transaction)"
        >
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount | currency }}</td>
            <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{ transaction.category }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="text-center mt-4">
    <button
            class="btn btn-primary"
            (click)="redirectToTransactions()"
    >
        See all transactions
    </button>
</div>


<!-- Deux colonnes pour Income et Expenses -->
<div class="container mt-5">
    <div class="row">
        <!-- Income Column -->
        <div class="col-md-6">
            <h3 class="text-center text-success">Income</h3>
            <ul class="list-group">
                <li *ngFor="let income of incomeTransactions" class="list-group-item"
                    (click)="goToTransaction(income)">
                    <strong>{{ income.description }}</strong> - {{ income.amount | currency }}
                </li>
            </ul>
        </div>

        <!-- Expense Column -->
        <div class="col-md-6">
            <h3 class="text-center text-danger">Expenses</h3>
            <ul class="list-group">
                <li *ngFor="let expense of expenseTransactions" class="list-group-item"
                    (click)="goToTransaction(expense)">
                    <strong>{{ expense.description }}</strong> - {{ expense.amount | currency }}
                </li>
            </ul>
        </div>
    </div>
</div>
